* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:
        -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display",
        "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
}

a {
    color: #579bff;
    text-decoration: none;
}

h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.con-hero {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 150px;
}

.con-hero-desc {
    line-height: 2.5rem;
}

.con-hero-desc h2 {
    color: #b0b0b0;
}

.con-pic img {
    width: 150px;
}

.con-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 150px;
    width: 800px;
}

.box-about,
.box-experience,
.box-project,
.box-get-in-touch {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.box-about.full {
    grid-column: 1 / -1;
    text-align: justify;
}

.con {
    margin-top: 80px;
}
.con-experience,
.con-projects {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.text-skills {
    text-align: left;
    line-height: 1.8rem;
    margin-left: 20px;
}

.box-experience,
.box-project,
.box-get-in-touch {
    width: 390px;
}

.icon {
    width: 60px;
    padding: 5px;
}

.con-btn {
    margin-bottom: 20px;
}

.btn {
    background-color: #579bff;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
}

.app-desc {
    margin: 20px 0px 50px 0px;
    text-align: justify;
}

.box-get-in-touch {
    line-height: 1.8rem;
    margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
    .con-hero {
        display: block;
        margin-top: 110px;
    }

    .con-about {
        display: block;
        width: 90%;
        margin-top: 100px;
    }

    .box-about,
    .box-experience {
        margin-bottom: 20px;
    }

    .con {
        width: 90%;
        margin-top: 30px;
    }

    .con-pic img {
        width: 150px;
        margin-bottom: 30px;
    }
}
