@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #060606;
    color: #ededed;
    font-size: 1.3rem;
    font-family: "VT323", monospace;
    font-weight: 100;
}

h1, h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Bitcount Single", system-ui;
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    margin-bottom: 20px;
}

p, li {
    line-height: 1.2rem;
}

a {
    text-decoration: none;
    margin: 20px;
    color: #FFF;
}

.profile-pic {
    width: 150px;
    border-radius: 5rem;
    margin-top: 60px;
}

.con, .con-picture, .con-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.con-content {
    width: 50%;
}

.box {
    padding: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.box.show {
    opacity: 1;
    transform: translateY(0);
}

.social-links {
    display: flex;

}

.social-link {
    margin-left: 0px;
    color: #00c43b;
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 1.9rem;
    }

    .con-content {
        width: 90%;
    }

}
