body {
    background-color: #202626;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    color: #c4c4c4
}

h1 {
    margin: 0;
    margin-bottom: 1.8rem;
}

a {
    color: #d6c955;
}

p, li {
    line-height: 1.5rem;
}

.light-text {
    color: #c4c4c4;
}

.top-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    top: 40px;
}

.nav-container {
    background-color: #343C3C;
    border-radius: 50px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #555e5e;
    gap: 20px;
    padding: 0 18px 0 18px;
}

.nav-container:hover {
    padding: 15px;
    transition: 0.8s;
}

.top-nav a {
    color: #c9c9c9;
    text-decoration: none;
    padding: 13px;
}

.top-nav a:hover {
    background-color: #202626;
    border-radius: 50px;
}

.main-text {
    position: absolute;
    top: 35%;
    left: 200px;
    width: 50%;
    color: #B12952;
}

.main-text h1 {
    line-height: 3.5rem;
    font-size: 3rem;
    font-family: 'Space Mono', monospace;
}

.description {
    position: absolute;
    top: 75%;
    left: 200px;
    width: 50%;
}

.social-links {
    position: absolute;
    top: 88%;
    left: 200px;
    width: 50%;
    display: flex;
    gap: 40px;
}

.social-links a {
    padding: 13px;
    background-color: #343C3C;
    border-radius: 50%;
}

.social-links a:hover {
    border-radius: 30%;
    transition: 0.2s;
}

.social-links i {
    font-size: 1.8rem;
}

.content {
    background-color: #343C3C;
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #555e5e;
    text-align: justify;
}

.profile-picture {
    width: 24%;
    display: block; /* Ensure the image is a block element */
    margin: 0 auto; /* Horizontally center the image within the container */
    max-width: 100%;
    padding: 20px 0px 20px 0px;
}

li {
    max-width: 90ch;
}

@media (max-width: 600px) {

   
    body {
        font-size: 12px;
    }
   
    .main-text {
        position: absolute;
        top: 30%;
        left: 20px;
        width: 90%;
        color: #B12952;
    }

    .main-text h1 {
        font-size: 1.9rem;
    }

    .description {
        left: 20px;
        position: absolute;
        top: 80%;
    }

    .social-links {
        left: 20px;
        position: absolute;
        top: 90%;
        padding-bottom: 50px;
    }

    .social-links i {
        font-size: 1rem;
    }

    .content {
        background: none;
        border: none;
        width: 78%;
        display: block; 
        height: 100%;
        margin-top: 150px;
        
    }

    li {
        margin-bottom: 10px;
        line-height: 1rem;
        text-align: left;
    }

    .profile-picture {
        width: 60%;
    }
}