@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #090909;
    color: #FFF;
    font-size: 1rem;
}

h1, h2, h3 {
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    line-height: 1.9rem;
}

nav {
    position: fixed;
    margin: 20px 0 0 20px;
    padding: 20px;
}

a {
    text-decoration: none;
    margin: 20px;
    color: #FFF;
}

button {
    color: #fff;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 1rem;
    background-color: transparent;
}

button:hover {
    background-color: #462f9a;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.con-info, .con-picture {
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.con-info {
    float: left;
}

.social-links {
    margin-top: 40px;
    padding: 10px;
}

.con-picture {
    --_mesh-gradient-blur: 0px;
    --_mesh-gradient-blend-mode: normal;    
    background: radial-gradient(at 99% 91%, #738fa1 0px, transparent 50%), radial-gradient(at 95% 71%, #7378a1 0px, transparent 50%), radial-gradient(at 21% 4%, #8573a1 0px, transparent 50%), radial-gradient(at 84% 97%, #a18573 0px, transparent 50%), radial-gradient(at 19% 43%, #8fa173 0px, transparent 50%) #000000;
    mix-blend-mode: var(--_mesh-gradient-blend-mode);
    filter: blur(var(--_mesh-gradient-blur));
    float: right;
}

.profile-pic {
    width: 350px;
    border-radius: 2rem;
}

.con-ap {
    width: 60%;
    position: absolute;
    top: 10%;
    left: 15%;
}

input, textarea, select {
    background-color: #1a1a1a;
    border: none;
    padding: 15px;
    margin: 10px 0 20px 0;
    width: 300px;
    color: #fff;
    border-radius: 1rem;
}

.btn-back {
    position: fixed;
    top: 20px;
    left: 20px;
}

