body {
  font-family: 'Fredoka', sans-serif;
  font-weight: 300;
  font-size: 20px;
  background-color: #000000;
  color: #ffffff;
}

h1 {
  color: #ff0062;
}

.container {
  width: 50%;
  margin: 0px auto 15px auto;
  display: block;
  padding: 15px;
}

.skills {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: #ff0062;
}

.social-item {
  margin: 0px 10px 0px 10px;
  color: #ff0062;
}

@media only screen and (max-width: 1500px) {

  .container {
    width: 90%;
  }

}
